@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
    color: red;
  }

.drawer-side a {
    background-color: transparent;
  }

/* index.css or your global stylesheet */



.active{
  color: orange;
  font-size: large;
  font-weight: 700;
  
}
